*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.nav_text {
  color: white;
  font-size: 14px;
}

.container {
  display: flex;
  gap: 117px;
  padding-left: 30px;
  margin-top: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.navbar__menu-icon {
  width: 138px;
  height: 24px;
  margin-bottom: 23px;
}
